# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Backup
*.bak

# Test figures
band*.png
dos*.png

# macOS
.DS_Store

# Packaging
*.egg-info/
build/
dist/
